@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

:root {
  --primario: #7abe47;
  --secundario: #ffc845;
  --negro: #000000;
  --claro: #ffffff;
  --gris: #eff2f7;
  /* --gris: #eeeeee; */
  --oscuro: #57a42b;
  --padding: 1rem;
  --padding2: 2rem;
}

html {
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  background-color: var(--gris);
  font-family: Roboto, sans-serif;
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
  text-align: center;
  margin: 1rem 0;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
}
p {
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify;
}
.boton {
  background-color: var(--primario);
  display: block;
  padding: var(--padding);
  text-align: center;
  color: var(--claro);
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid var(--primario);
  transition: all 0.5s ease-in-out;
}
.boton:hover {
  background-color: var(--claro);
  color: var(--primario);
  border: 1px solid var(--primario);
}
.divider {
  width: 30%;
  height: 3px;
  margin: 50px auto 20px auto;
  border: 1px solid var(--primario);
  background-color: var(--primario);
  border-radius: 30px;
}
/* ---  */
/* HEADER  */
/* ---  */
.header {
  /* margin-top: 2rem; */
  padding: var(--padding);
  background-color: var(--primario);
}

.header .barra {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 2rem;
  justify-content: center;
}

.header .menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.header .menu a {
  text-align: center;
  color: var(--claro);
  text-decoration: none;
  font-size: 1.4rem;
  transition: 0.3s ease all;
}
.header .menu a:hover {
  color: yellow;
  margin-left: 10px;
  margin-right: 10px;
  transform: scale(1.1);
}
.nombre-sitio {
  display: flex;
  justify-content: center;
}
@media (min-width: 576px) and (max-width: 991px) {
  #logo {
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  .header .barra {
    grid-template-rows: unset;
    grid-template-columns: 20% 1fr 50%;
    justify-content: space-around;
  }

  .header .menu {
    grid-column: 3/4;
    display: grid;
    align-content: center;
  }
}

/* ---  */
/* NOSOTROS */
/* ---  */
.nosotros {
  text-align: center;
  margin-top: 2rem;
}
@media (min-width: 992px) {
  .nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  /* h1 {
    text-align: center;
  } */
}
.contenido-nosotros {
  display: grid;
  align-content: center;
}

/* ---  */
/* CARDS-BLOCK */
/* ---  */
.cards-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
}
.cards-block img {
  width: 100%;
}
.destacado {
  grid-column: 1/3;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  /* gap: 1rem; */
  /* padding: 0 1rem; */
}
.destacado h3 {
  margin-top: 0;
}
@media (min-width: 768px) {
  .cards-block {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
.card {
  background-color: var(--claro);
  padding: var(--padding);
  border: 1px solid #c7c7c7;
}
.card p {
  font-size: 0.9rem;
  line-height: 1.8rem;
}
.article {
  display: grid;
}
.article .detalle {
  font-size: 1.4rem;
  font-weight: 400px;
}
.detalle span {
  font-weight: 300;
  color: var(--primario);
}

/* FOOTER  */
.footer {
  background-color: var(--primario);
  margin-top: var(--padding2);
  padding-top: var(--padding2);
  color: var(--claro);
}
@media (min-width: 768px) {
  .footer .contenedor {
    display: grid;
    grid-template-columns: 30% 20% 2fr;
    column-gap: 2rem;
  }
}
.footer .widget h3 {
  margin-bottom: 2rem;
  text-align: center;
}
.footer .navegacion a {
  display: block;
  color: var(--claro);
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-decoration: none;
  text-align: center;
}
.footer .contenedor-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.footer .contenedor-galeria p {
  text-align: center;
  line-height: 1.4rem;
}
.footer .contenedor-galeria hr {
  margin: 5px auto;
  background-color: var(--claro);
}
.footer .imagen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.footer .imagen p {
  margin: 0;
}
.copyright {
  background-color: var(--oscuro);
  margin: 3rem 0 0 0;
  text-align: center;
  padding: var(--padding);
}

/* CONTACT  */
.contacto {
  padding: 10px;
}
.contact-icon {
  margin-right: 10px;
}
