:root {
  --primario: #7abe47;
  --secundario: #ffc845;
  --negro: #000000;
  --claro: #ffffff;
  --gris: #eeeeee;
  --oscuro: #57a42b;
  --padding: 1rem;
  --padding2: 2rem;
}

html {
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  background-color: var(--gris);
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  /* margin-top: 2rem; */
  padding: var(--padding);
  background-color: var(--primario);
}

.header .barra {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 2rem;
  justify-content: center;
}

.header .menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.header .menu a{
  text-align: center;
  color: var(--claro);
}
