@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

:root {
  --primario: #7abe47;
  --secundario: #ffc845;
  --negro: #000000;
  --claro: #ffffff;
  --gris: #eeeeee;
  --oscuro: #57a42b;
  --padding: 1rem;
  --padding2: 2rem;
}

html {
  box-sizing: border-box;
}

body {
  /* margin: 0; */
  background-color: var(--gris);
  font-family: Roboto, sans-serif;
}

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin: 1rem 0;
}
h1 {
  font-size: 2.4rem;
}
h2{
  font-size: 2.2rem;
}
h3{
  font-size: 2rem;
}
p {
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify;
  padding: 0 var(--padding) 0 var(--padding);
}

/* ---  */
/* HEADER  */
/* ---  */
.header {
  /* margin-top: 2rem; */
  padding: var(--padding);
  background-color: var(--primario);
}

.header .barra {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 2rem;
  justify-content: center;
}

.header .menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.header .menu a {
  text-align: center;
  color: var(--claro);
  text-decoration: none;
  font-size: 1.4rem;
}

@media (min-width: 992px) {
  .header .barra {
    grid-template-rows: unset;
    grid-template-columns: 20% 1fr 50%;
    justify-content: space-around;
  }

  .header .menu {
    grid-column: 3/4;
    display: grid;
    align-content: center;
  }
}

/* ---  */
/* NOSOTROS */
/* ---  */
.nosotros {
  text-align: center;
  margin-top: 2rem;
}
@media (min-width: 992px) {
  .nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  h1 {
    text-align: left;
    padding-left: 1rem;
  }
}
.contenido-nosotros {
  display: grid;
  align-content: center;
}

/* ---  */
/* CARDS-BLOCK */
/* ---  */
.cards-block{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
}
.cards-block img{
  width: 100%;
}
.destacado{
  grid-column: 1/3;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  
}